<h1>Edit Yourz</h1>
<form action="/algoblog/<%= allSongs.id%>?_method=PUT" method="POST">
  title: <input type="text" name="title"><br/>
  entry: <input type="textarea" name="entry"><br/>
  song: <input type="text" name="song"><br/>
  <input type="submit" name="" value="Submit Changes"/>
</form>
