<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <h1> a l g o B l o g</h1>
  <div class="container">
    <%
      for(let i = 0; i < allSongs.length; i++){
    %>
      <a href="/algoblog/<%=allSongs[i].id%>">
        <h2><%= allSongs[i].title%></h2>
      </a>
        <iframe src="<%= allSongs[i].song%>" width="300" height="380" frameborder="0" allowtransparency="true" allow="encrypted-media"></iframe>
        <form action="/algoblog/<%= allSongs[i].id %>?_method=DELETE" method="POST">
          <input class="button" type="submit" value="Delete">
        </form>
      <% } %>
      </div>
  </body>
</html>
