<!DOCTYPE html>
<html lang="en" dir="ltr">
<head>
  <%- include ('./partials/head.ejs') %>
</head>

  <body class="body">
  <div class="jumbo">
    <h1>ALGO BLOG</h1>
    </div>
    <div class="container">
    <%
      for(let i = 0; i < allSongs.length; i++){
    %>
    <div class="blog">
      <div class="title index" >
      <a href="/algoblog/<%=allSongs[i].id%>">
        <h2><%= allSongs[i].title%></h2>
      </a>
      </div>
      <div class="iframe ">
        <iframe src="<%= allSongs[i].song%>" width="300" height="380" frameborder="0" allowtransparency="true" allow="encrypted-media"></iframe>
        </div>
            </div>
      <% } %>

    </div>
    <nav>
      <h2 class="createyourz"><a class="createyourz" href="/algoblog/new">Create Yourz +</a></h2>
    </nav>
    
      <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>


  </body>
</html>
