<!DOCTYPE html>
<html lang="en" dir="ltr">
<head>
  <%- include ('./partials/head.ejs') %>
</head>
  <body class="newbody">
      <div class="jumbo">
      <h1> ALGO BLOG</h1>
      </div>
      <div class="newcontainer">
    <h1>Hear2Listen</h1>
      <form action="/" method="POST">
          Title: <input type="text" name="title"><br/>
          Song: <input type="text" name="song"><br/>
          Entry: <textarea class="form-control" id="exampleFormControlTextarea1" rows="3" name="entry"></textarea>
          <!-- <input class="form-control" rows = "5" cols = "60" class="entry" type="textarea" name="entry"><br/> -->
          <input type="submit" name="" value="Create AgloBlog"/>
      </form><br/>

    </div>
    <nav>
    <a href="/">back to algoBlog</a>
    </nav>
  </body>
</html>
