<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
    <link rel="stylesheet" type="text/css" href="/app.css">
  </head>
  <body>
    <h1>Hear2Listen</h1>
    <form action="/algoblog" method="POST">
        title: <input type="text" name="title"><br/>
        entry: <input type="textarea" name="entry"><br/>
        song: <input type="text" name="song"><br/>
        <input type="submit" name="" value="Create AgloBlog"/>
    </form><br/>
    <nav>
    <a href="/algoblog">back to algoBlog</a>
    </nav>
  </body>
</html>
