<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
    <link rel="stylesheet" type="text/css" href="/app.css">
  </head>
  <body>
    <h1>Hear2Listen</h1>
    <form action="/shop" method="POST">
        name: <input type="text" name="name"><br/>
        entry: <input type="textarea" name="entry"><br/>
        song: <input type="text" name="song"><br/>
        <input type="submit" name="" value="Create AgloBlog"/>
    </form><br/>
    <!-- <a href='/shop/'>algoBlog</a> -->
  </body>
</html>
