<!DOCTYPE html>
<html lang="en" dir="ltr">
<head>
  <%- include ('./partials/head.ejs') %>
</head>
  <body>
      <div class="jumbo">
      <h1> a l g o B l o g</h1>
      </div>
      <div class="newcontainer">
    <h1>Hear2Listen</h1>
    <form action="/algoblog" method="POST">
        Title: <input type="text" name="title"><br/>
        Entry: <input type="textarea" name="entry"><br/>
        Song: <input type="text" name="song"><br/>
        <input type="submit" name="" value="Create AgloBlog"/>
    </form><br/>
    <nav>
    <a href="/algoblog">back to algoBlog</a>
    </nav>
    </div>
  </body>
</html>
