<!DOCTYPE html>
<html lang="en" dir="ltr">
<head>
  <%- include ('./partials/head.ejs') %>
</head>
  <body class="newbody">
      <div class="jumbo">
      <h1> ALGO BLOG</h1>
      </div>
      <div class="editcontainer">
        <div class="newphoto">
                  <img src="https://images.unsplash.com/photo-1487215078519-e21cc028cb29?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=2850&q=80" alt="Girl in a jacket" width="600" height="600">
                  </div>

    <h1>Hear2Listen</h1>
      <form action="/" method="POST">
          Title <input class= type="text" name="title" placeholder="Title"><br/>
          Song <input type="text" name="song" placeholder="Link"><br/>
          Entry<br/><br/> <textarea class="form-control" id="exampleFormControlTextarea1" rows="3" name="entry" placeholder="Share your thoughts"></textarea><br/>
          <!-- <input class="form-control" rows = "5" cols = "60" class="entry" type="textarea" name="entry"><br/> -->
          <input class="editsubmit" class="create" type="submit" name="" value="Create ALGO BLOG"/>
      </form><br/>

      <nav>
      <h2 class="createyourz"><a class="createyourz" href="/">back to algoBlog</a></h2>
      </nav>

    </div>

  </body>
</html>
