<!DOCTYPE html>
<html lang="en" dir="ltr">
    <head>
        <meta charset="utf-8">
        <title></title>
    </head>
    <body>
        <h1>Show Page</h1>
        Title: <%=songs.title%><br/>
        Entry: <%=songs.entry%><br/>
        Song: <%=songs.song%><br/>
        <nav>
            <a href="/algoblog">Back to algoBlog Index</a>
        </nav>
    </body>
</html>
